$white:#fff;
$black:#000;
$main:#071a2e;
$main-l:#0b2036;
$font-light:#9fa7af;
$primary-button-color:#007fff;
$todo-color:#132f4c;
$primary-button-hover: #0059b2;
$hover-on-main:rgb(0, 30, 60);
$border2:#1e4976;
$spback:#132f4c;
$font-light2:#b2bac2;
$darkBackground:#0a1929;
$midiumBackground:#001e3c;