@import "color";
@font-face {
  font-family: Oxygen_b;
  src: url(fonts/Oxygen-Bold.ttf);
}
@font-face {
  font-family: Oxygen_l;
  src: url(fonts/Oxygen-Light.ttf);
}
@font-face {
  font-family: Oxygen_r;
  src: url(fonts/Oxygen-Regular.ttf);
}
* {
  font-family: "Oxygen_l";
}
input,
select {
  border: none;
  outline: none;
}
select {
  cursor: pointer;
}
input {
  padding: 0.7rem;
}
input[type="button"] {
  cursor: pointer;
}
body {
  &::-webkit-scrollbar {
    width: 2px !important;
    height: 2px !important;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(135, 135, 136, 0.349);
  }
  &::-webkit-scrollbar-track {
    background-color: rgb(10, 10, 44);
  }
  &::-webkit-scrollbar-corner {
    border-radius: 7px;
  }
}
@mixin highLightSpan {
  border: 1px solid $border2;
  background-color: $spback;
  color: $font-light2;
}
.view-container {
  height: 100vh;
  width: 100%;
  .home {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
      width: 100%;
      height: 100%;
      max-width: 40rem;
      .header {
        padding: 2rem;
        width: 100%;
        h4 {
          color: $white;
          font-size: 2rem;
        }
      }
      .mainbody {
        height: calc(100vh - 12rem);
        overflow-y: auto;
        padding: 0.1rem 2rem;
        .todoRow{
          width: 100%;
          padding: 0.7rem 0.5rem;
          background-color: $todo-color;
          border: 1px solid $border2;
          border-radius: 5px;
          margin:  0.5rem 0;
          cursor: pointer;
          .todo{
            color: $white;
            font-size: 1.4rem;
          }
        }
        &::-webkit-scrollbar {
          display: none;
        }
      }
      .addbox {
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .inpbx {
          background-color: $main-l;
          padding: 1rem;
          max-width: 97%;
          min-width: 97%;
          border-radius: 5px;
          display: flex;
          justify-content: space-between;
          input {
            border: 0;
            outline: none;
            width: 85%;
            background-color: transparent;
            color: $white;
          }
          button {
            height: 3rem;
            width: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            border: 0;
            border-radius: 5px;
            background-color: $primary-button-color;
            color: $white;
            cursor: pointer;
            .iconWrapper {
              height: 2rem;
            }
          }
        }
      }
    }
  }
}
